
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="plantilla/template::head">
        <title>Todo Autos</title>
        <link rel="stylesheet" href="css/home.css"/>
    </head>


    <body>

        <!-- NAV BAR-->

        <div class = 'container'>
            <header th:replace="plantilla/template::header"></header>

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img src="images/Mi proyecto 4.jpg" class="d-block w-100" alt="...">    
                    </div>
                    <div class="carousel-item">
                        <img src="images/Mi proyecto 3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="images/Mi proyecto 2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="images/Mi proyecto 1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="images/Mi proyecto.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button> 
            </div>

            <div class = 'content'>

                <div class='content3'>
                    <img src="images/Search2.png" alt="Es mi logo"/>
                    <input  type="text" id="nombre" name="nombre" placeholder = "Buscar autos, modelo, agencia ....."> 
                </div>    
                <h1>Busque su carro deseado</h1>

            </div>

            <div class='barra'>
                <h1>Agencias de vehiculos nuevos</h1>
                <div class='nav2'>
                    <ul>
                        <li><a href="nissan.html"><img src="images/nissan.jpg" class = 'miImagen3' alt="alt"/></a></li>
                        <li><img src="images/volkswagen.png" class = 'miImagen4' alt="alt"/></li>
                        <li><a href="suzuki.html"><img src="images/Suzuki.png" class = 'miImagen5' alt="alt"/></a></li>
                        <li><img src="images/Toyota.jpg" class = 'miImagen6' alt="alt"/></li>
                        <li><a href="kia.html"><img src="images/kia.jpg" class = 'miImagen7' alt="alt"/></a></li>
                    </ul>
                </div>
            </div>
        </div>    

    </body>
    <div cla>
        <footer th:replace="plantilla/template::footer"></footer>
    </div>
</html>
